# Virtual environments
/venv/
.pydash

# Directory created by text editors
.vscode

# Automatically created cache files
__pycache__
*pyc
*.py[cod]
*$py.class

# Execution stats
/results/
*.png
r2a/r2afdash.py
.DS_Store
.idea/
